@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.83em;
  margin: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  color: #262A3F;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.2;
}
.title > span {
  color: #85BBB1;
  font-style: italic;
}
.title_1 {
  max-width: 523px;
  font-size: 44px;
}
.title_2 {
  margin-bottom: 12px;
  font-size: 68px;
  line-height: 1.06;
}
.title_2 span {
  font-size: 40px;
  line-height: 1.25;
  color: #E4E4E4;
  font-style: normal;
}
.title_3 {
  margin-bottom: 20px;
  font-size: 40px;
}
.title_4 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 2;
}

.text {
  opacity: 0.8;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 60px;
}

.header {
  padding: 24px 0;
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51.07%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
  position: absolute;
  width: 100%;
  top: 30px;
}
.header .menu {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.header .menu__link {
  color: #262A3F;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.12px;
  position: relative;
}
.header .menu__link:hover::after {
  content: "";
  display: block;
  width: 75%;
  height: 3px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.first-screen {
  padding-top: 260px;
  background-image: url(../assets/img/first-screen-bg.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.first-screen .text {
  margin-bottom: 50px;
  max-width: 439px;
}

.link-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #F1897B;
  position: relative;
}
.link-btn::after {
  content: "";
  display: block;
  width: calc(100% - 3px);
  height: 13px;
  background: #F1897B;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 10px;
}

.section {
  margin-bottom: 120px;
}

.advantage {
  padding: 30px 20px;
  border-top: 1px solid #E4E4E4;
}
.advantage > .title_3 {
  margin-bottom: 30px;
  font-size: 40px;
}

.quote {
  color: #FFFFFF;
}
.quote__container {
  padding: 100px 0 100px 160px;
  background-image: url(../assets/img/quote-background.png);
}
.quote__text {
  margin-bottom: 40px;
  max-width: 710px;
  font-size: 32px;
  letter-spacing: 1.28px;
}
.quote__author {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1.6px;
}

.video__container {
  max-width: 970px;
}
.video__wrapper {
  width: 100%;
  margin-bottom: 50px;
  max-width: 970px;
  padding: 31px 15px 31px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  position: relative;
}
.video__wrapper::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}
.video__wrapper::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}
.video__youtube {
  opacity: 0.2;
  border-radius: 8px;
}

.features__container {
  position: relative;
  display: flex;
  align-items: center;
}
.features__wrapper {
  max-width: 770px;
  padding: 75px 0 75px 70px;
  background: #FFFFFF;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 70px;
  position: absolute;
  left: 40%;
}
.features .feature > .text:first-of-type {
  margin-bottom: 10px;
}

.link__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 300px;
  max-height: 90px;
  border: 1px solid #E4E4E4;
}

.reviews__text {
  max-width: 400px;
  margin-bottom: 50px;
}
.reviews__flex {
  display: flex;
  justify-content: none;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}
.reviews__item {
  width: 370px;
  height: 340px;
  padding: 30px 40px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item_1 {
  background-image: url(../assets/img/reviews_image1.png);
}
.reviews__item_2 {
  background-image: url(../assets/img/reviews_image2.png);
}
.reviews__item_3 {
  background-image: url(../assets/img/reviews_image3.png);
}
.reviews .review {
  display: flex;
  justify-content: space-between;
  align-items: none;
  gap: 0;
  flex-direction: column;
}
.reviews .review__text {
  color: #FFF;
  font-size: 16px;
  line-height: 1.6;
}
.reviews .review__title {
  color: #FFF;
  font-size: 20px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1.6px;
}

.contacts {
  margin-bottom: 100px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  border-top: 1px solid #E4E4E4;
  padding-top: 60px;
}

.contacts__descr {
  width: 40%;
}

.contacts__form {
  width: 40%;
}

.form__input {
  width: 100%;
  height: 42px;
  padding: 0 0 12px;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: Playfair Display;
  font-style: italic;
  line-height: 1.11;
  letter-spacing: 1.44px;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1019607843);
}
.form__input:focus {
  outline: none;
}

.form > .link-btn {
  background: none;
  border: none;
}

.contacts__descr > .title_3 {
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 30px 0;
  border-top: 1px solid #E4E4E4;
}
.footer__text {
  font-size: 14px;
  line-height: 1.85;
  opacity: 0.6;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__span {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 1.12px;
}
.footer .list {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.footer .list__link {
  font-size: 14px;
  font-family: Lato;
  line-height: 1.7;
  letter-spacing: 1.12px;
  color: #262A3F;
}