$font_family_main: 'Lato', sans-serif;
$font_size_main: 18px;
$font_weight_main: 300;
$line_height_main: 1.44;

$color_main: #262A3F;

$background_dark: #161926;
$color_dark: #FFFFFF;
$border_color_dark: #515773;

$width_content: 1170px;
$half_width_content: calc($width_content / 2);