$font_family_main: 'Lato', sans-serif;
$font_size_main: 18px;
$font_weight_main: 300;
$line_height_main: 1.44;

$color_main: #262A3F;

$width_content: 1170px;
$half_width_content: calc($width_content / 2);