@import 'normalize';
@import 'vars';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: $font_family_main;
    font-size: $font_size_main;
    font-weight: $font_weight_main;
    line-height: $line_height_main;
    color: $color_main;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: $width_content;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 1.2;

    & > span {
        color: #85BBB1;
        font-style: italic;
    }

    &_1 {
        max-width: 523px;
        font-size: 44px;

    }

    &_2 {
        margin-bottom: 12px;
        font-size: 68px;
        line-height: 1.06;

        & span {
            font-size: 40px;
            line-height: 1.25;
            color: #E4E4E4;
            font-style: normal;
        }
    }

    &_3 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    &_4 {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 2;
    }
}

.text {
    opacity: 0.8;
}

.d-flex {
    @include flex(space-between, center, 0);
}

.header {
    background-image: url(../assets/img/first-screen-bg.png);
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 470px;

    &__wrapper {
        margin-bottom: 150px;
        padding: 24px 0;
        background: linear-gradient(269deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 51.07%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(4.5px);
    }

    .nav {
        @include flex(space-between, center, 0);
    }

    .menu {
        @include flex(none, center, 30px);
        list-style: none;
    
        &__link {
            color: #262A3F;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 1.12px;
            position: relative;
    
            &:hover::after {
                content: '';
                display: block;
                width: 75%;
                height: 3px;
                background: #F1897B;
                opacity: 0.3;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__descr .text {
        margin-bottom: 50px;
        max-width: 439px;  
    }
}


.link-btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #F1897B;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: calc(100% - 3px);
        height: 13px;
        background: #F1897B;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        left: 10px;
    }
}

.section {
    margin-bottom: 120px;
}

.statistic {
    position: absolute;
    @include flex(none, center, 0);
    top: 750px;

    &__image {
        width: 50%;
    }

    &__img {
        
        width: 100%;
        object-fit: cover;
    }

    &__info {
        margin-left: -170px;
        @include flex(none, flex-start, 0);
        padding: 45px 0;
        max-width: 770px;
        background: #FFFFFF;
        opacity: 0.9;
    }

    &__list {
        list-style: none;
        width: 48%;
        text-align: center;
    }

    &__descr {
        width: 52%;

        & .text:first-child {
            margin-bottom: 25px;
        }

        & .text:nth-child(2) {
            margin-bottom: 50px;
        }
    }

    & .text {
        margin-bottom: 40px;
    }

    & .text:last-child {
        margin-bottom: 0;
    }

    &__line::after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background: #85BBB1;
        margin: 0 auto 40px;
    }
}

.advantages {
    margin-top: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;

    .advantage {
        padding: 30px 20px;
        border-top: 1px solid #E4E4E4;
    
        & > .title_3 {
            margin-bottom: 30px;
            font-size: 40px;
        }
    }
}

.quote {
    color: #FFFFFF;
    padding: 100px 15px 100px 160px;
    background-image: url(../assets/img/quote-background.png);

    &__text {
        margin-bottom: 40px;
        max-width: 710px;
        font-size: 32px;
        letter-spacing: 1.28px;
        position: relative;

        &::before {
            content: url(../assets/svg/quote-icon.svg);
            position: absolute;
            left: -60px;
            top: -35px;
        }
    }

    &__author {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-style: italic;
        line-height: 1;
        letter-spacing: 1.6px;
    }
}

.video {

    max-width: 970px;
    margin: 0 auto 120px;

    &__wrapper {
        width: 100%;
        margin-bottom: 50px;
        padding: 31px 15px 31px 30px;
        border: 1px solid #E4E4E4;
        border-radius: 32px;
        position: relative;
        
        
        &::before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            border: 1px solid #E4E4E4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
        }

        &::after {
            content: '';
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid #E4E4E4;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
        }
    }

    &__youtube {
        width: 870px;
        height: 539px;
        object-fit: cover;
        opacity: 0.2;
        border-radius: 8px;

        &:hover {
            opacity: 1;
        }
    }
}

.features {
    position: relative;
    display: flex;
    align-items: center;

    &__wrapper {
        max-width: 770px;
        padding: 75px 0 75px 70px;
        background: #FFFFFF;
        opacity: 0.9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 70px;
        position: absolute;
        left: 38%;
    }

    .feature .text:first-of-type {
        margin-bottom: 10px;
    }
}


.link__wrapper {
    @include flex(center, center, 0);
    max-width: 300px;
    max-height: 90px;   
    border: 1px solid #E4E4E4;
}

.reviews {
    &__text {
        max-width: 400px;
        margin-bottom: 50px;
    }

    &__flex {
        @include flex(none, flex-start,30px);
    }

    &__item {
        width: 33%;
        height: 340px;
        padding: 30px 40px;

        background-repeat: no-repeat;
        background-size: cover;

        &_1 {
            background-image: url(../assets/img/reviews_image1.png);
        }

        &_2 {
            background-image: url(../assets/img/reviews_image2.png);
        }

        &_3 {
            background-image: url(../assets/img/reviews_image3.png);
        }
    }

    .review {
        @include flex(space-between, none, 0);
        flex-direction: column;

        &__text {
            color: #FFF;
            font-size: 16px;
            line-height: 1.6;
        }

        &__title {
            color: #FFF;
            font-size: 20px;
            font-style: italic;
            line-height: 1;
            letter-spacing: 1.6px;
        }
    }
}

.contacts {
    margin-bottom: 100px;
    @include flex(space-between, flex-start, 0);
    border-top: 1px solid #E4E4E4;
    padding-top: 60px;

    &__descr {
        width: 40%;
    }
}


.form {
    width: 40%;

    &__input {
        width: 100%;
        height: 42px;
        padding: 0 0 12px;
        margin-bottom: 40px;
        font-size: 18px;
        font-family: Playfair Display;
        font-style: italic;
        line-height: 1.11;
        letter-spacing: 1.44px;
        opacity: 0.5;
        border: none;
        border-bottom: 1px solid #262a3f1a;
    
        &:focus {
            outline: none;
        }
    }

    & > .link-btn {
        background: none;
        border: none;
    }

    &__descr > .title_3 {
        margin-bottom: 30px;
    }
}

.footer {
    @include flex(space-between, center, 0);
    padding: 30px 15px;
    border-top: 1px solid #E4E4E4;

    &__text {
        font-size: 14px;
        line-height: 1.85;
        opacity: 0.6;
    }

    &__wrapper {
        @include flex(center, center, 12px)
    }

    &__span {
        font-size: 14px;
        line-height: 1.85;
        letter-spacing: 1.12px;
    }

    .list {
        @include flex(none, center, 32px);
        list-style: none;

        &__link {
            font-size: 14px;
            font-family: Lato;
            line-height: 1.7;
            letter-spacing: 1.12px;
            color: #262A3F;
        }
    }
}

@media screen and (max-width: 992px) {
    .header__wrapper {
        margin-bottom: 70px;
    }

    .title_2 {
        font-size: 3em;
    }

    .statistic {
        top: 550px;
        background-image: url(../assets/img/statistic-image.png);
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .statistic__image {
        display: none;
    }

    .statistic__line::after {
        margin-bottom: 20px;
    }

    .statistic .text {
        margin-bottom: 20px;
    }

    .statistic__info {
        padding: 20px;
        width: 760px;
        margin-left: 0;
        opacity: 0.7;
    }

    .statistic__descr .text:nth-child(2) {
        margin-bottom: 30px;
    }

    .statistic__descr .text {
        opacity: 1;
    }

    .section {
        margin-bottom: 70px;
    }

    .advantages {
        margin-top: 120px;
    }

    .features__wrapper {
        left: 32%;
        row-gap: 50px;
        padding: 50px 0 50px 70px;
    }

    .reviews__text {
        margin-bottom: 30px;
    }

    .reviews__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews__item {
        width: 48%;
    }

    .form {
        width: 45%;
    }
}